.body-bg-image{
    background-image: url(http://bradjasper.com/subtle-patterns-bookmarklet/patterns/crissXcross.png);
    background-size: auto;
    background-repeat: repeat repeat;
}

.link-off a, a.link-off {
    color:inherit;
    text-decoration: none;
}